{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container my-3">
    <div class="row">
        <div class="card blog-card mb-3 w-75">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="img-fluid p-3 img-round">
              </div>
              <div class="col-md-8">
                <div class="card-body pr-4">
                  <p class="h4 pb-2">{{ blog.title }}</p>
                  <p class="h6 intro">{{ blog.intro }}</p>
                  <p class="card-text">{{ blog.text|safe|linebreaksbr }}</p>
                  <p class="float-right text-uppercase pt-5"><small class="text-muted"><a href="{% url 'blog' %}"><i class="fa-solid fa-backward pr-2"></i>Tillbaka</a></small></p>
                  <p class="card-text pt-5"><small class="text-muted">{{ blog.date }}</small></p>
                  {% if request.user.is_superuser %}
                  <span>
                    <div class="btn-group">
                      <a href="{% url 'edit_blogpost' blog.id %}" class="btn_art" role="button" aria-label="Update"
                        title="Update">Uppdatera</a>
                      <a href="{% url 'delete_blogpost' blog.id %}" class="btn_art confirm-delete" aria-label="Delete"
                        role="button" title="Delete">Ta bort</a>
                    </div>
                  </span>
              {% endif %}
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

{% endblock %}