{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container my-3">
  <div class="row">
    <div class="card blog-card mb-3 w-75">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="img-fluid p-3 img-round">
        </div>
        <div class="col-md-8">
          <div class="card-body pr-4">
            <p class="h4 pb-2">{{ blog.title }}</p>
            <p class="h6 intro">{{ blog.intro }}</p>
            <p class="card-text">{{ blog.text|safe|linebreaksbr }}</p>
            {% if blog.blog_url %}
            <p class="card-text"><a href="{{ blog.blog_url }}" target="_blank" rel="noopener">Länk:<br>{{ blog.blog_url
                }}</p></a>
            {% endif %}
            <div class="float-right">
              <p class="float-right text-uppercase pt-5"><small class="text-muted"><a href="{% url 'blog' %}"><i
                      class="fa-solid fa-backward pr-2"></i>Tillbaka</a></small></p>


            </div>
            <p class="card-text pt-5"><small class="text-muted">{{ blog.date }}</small></p>

            <span>
              <div class="btn-group">
                  <a aria-label="Share on Facebook"
                    href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri }}" target="_blank"
                    class="btn_art share-btn" id="no-line" role="button" title="Share on Facebook" data-toggle="tooltip" data-original-title="Share on Facebook">
                    <i class="fa-brands fa-facebook share-btn pr-2"></i>Share</a>

                {% if request.user.is_superuser %}
                <a href="{% url 'edit_blogpost' blog.id %}" class="btn_art" id="no-line" role="button"
                  aria-label="Update" title="Uppdatera">Uppdatera</a>
                <a href="{% url 'delete_blogpost' blog.id %}" class="btn_art confirm-delete" id="no-line"
                  aria-label="Delete" role="button" title="Ta bort">Ta bort</a>
              </div>
            </span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}