{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container my-3">

    {% for post in object_list %}
    <div class="card mb-3 blog-card" style="max-width: 700px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ post.image.url }}" alt="{{ blog.title }}" class="img-fluid p-3 img-round painting-image" style="max-width:220px;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a href="{% url 'blog_detail' post.pk %}">
                        <h5 class="card-title">{{ post.title }}</h5>
                    </a>
                    <p class="card-text">{{ post.intro }}</p>
                    <p class="float-right text-uppercase pt-5"><small class="text-muted"><a href="{% url 'blog_detail' post.pk %}">Läs vidare <i class="fa-solid fa-forward pl-2"></i></a></small></p>
                    <p class="card-text pt-3"><small class="text-muted">{{ post.date }}</small></p>
                    {% if request.user.is_superuser %}
                    <div class="pt-5">
                        <a href="{% url 'edit_blogpost' post.id %}" class="btn_art">Uppdatera</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}