<!-- {% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <h1>Kategorier</h1>
    <h2>{{ cats }}</h2>
    <div>
        <h6>Filter efter kategori:</h6>
        {% for post in blog_category %}
        <div class="card blog-card mb-2">
            <h5 class="card-header w-100">{{ post.title }}</h5>
            <div class="card-body">
                <h6 class="card-title">{{ post.date }}</h6>
                {% for category in post.categories.all %}
                <h6 class="card-title">
                    <i class="fa-solid fa-tag pl-1"></i> {{ category.name }}
                </h6>
                {% endfor %}
                <p class="card-text">{{ post.intro }}</p>
                <a href="{% url 'blog_detail' post.id %}" class="btn_art" aria-label="{{ post.title }}">Fortsätt läsa ...</a>
            </div>
        </div>
        <a href="{% url 'blog' %}?category.name" class="category-tag"><i class="fa-solid fa-tag"></i> {{ category.name }}</a>
        {% endfor %}
    </div>
</div>

{% endblock %} -->