{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Banner Part Start-->
<section class="py-2">
    <div class="container my-5">
    
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{% static 'img/hannele.jpg' %}"
                        class="img-fluid rounded-start p-3" alt="Image Hannele">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Om Hannele Takala:</h5>
                        <p class="card-text">
                            Jag har förstås som många andra tecknat en del som barn, men jag har målat sedan 20-års ålder. Jag började måla med olja
                            på 90-talet och gick kvällskurser för att lära mig tekniker. Under åren då jag skaffade familj fanns väldigt lite tid
                            för målandet så det låg i vila i närmare 20 år. 2017 tog jag upp penslarna igen och började en kurs i akryl genom
                            Medborgarskolan. Jag har nu gått hos samma kursledare sedan dess, med ett avbrott under Covid. Men även under Covid så
                            målade vi med kursledaren, fast då digitalt. Det var en spännande erfarenhet och visade på en sann längtan till
                            målandet. Jag har ingen konstnärsutbildning utan har utvecklats och lärt mig tekniker genom kvällskurser och eget
                            experimenterande.</p>
                        <p>Jag målar idag på känsla och upptäktsvilja. Jag vill testa olika tekniker, olika uttrycksformer, men betraktar mig som
                            en försiktig utforskare. Jag återkommer gärna till natur och landskap och har en vilja i att utveckla mitt målande i
                            impressionism, porträtt, djur och natur.
                        </p>
                            <p class="h5 pt-3">Inspireras av:</p>
                            <p>Johan Thunberg, Robert Hettisch</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Part End-->


{% endblock %}
{% block carouseljs %}
<script type="text/javascript">
    $('.collapse').collapse()
</script>
{% endblock %}