{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Banner Part Start-->
<section class="py-2">
    <div class="container my-5">
    
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../media/hannele.jpg"
                        class="img-fluid rounded-start p-3" alt="Image Hannele">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Om Hannele Takala:</h5>
                        <p class="card-text">
                            Livet är ett lärande, så också mitt måleri. Har målat i olja i många år, men på senare år jobbat med akryl och
                            blandtekniker. Har provat olika konstriktningar men återkommer ofta till natur, landskap och impressionism. Ser mitt
                            målande som rekreation och experimenterande så därför målar jag på infall, känsla och nyfikenhet.</p>
                            <p class="h5 pt-3">Inspireras av:</p>
                            <p>Johan Thunberg, Robert Hettisch</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Part End-->


{% endblock %}
{% block carouseljs %}
<script type="text/javascript">
    $('.collapse').collapse()
</script>
{% endblock %}