{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Banner Part Start-->
<section class="py-2">
<div class="container mt-3">
    <div class="card-deck">
        
        <div class="card text-center">
            <a href="{% url 'about' %}">
            <img src="{% static 'img/hannele.jpg' %}" class="card-img-top card-round mt-3" alt="Om mig">
            <div class="card-body">
                <p class="card-title">Om Hannele "Hansu" Takala</p>
                <div class="card-text">Att måla har för mig varit en vila och rekreation och jag har fått mycket inspiration av min
                    konstnärliga mor, som bl.a. målade korgar och tavlor i akryl.</div>
            </div>
            </a>
        </div>
        
        <div class="card text-center">
            <a href="{% url 'products' %}">
            <img src="{% static 'img/index.jpg' %}" class="card-img-top card-round mt-3" alt="Mina tavlor">
            <div class="card-body">
                <p class="card-title">Tavlor</p>
                <div class="card-text">Välkommen till min konstsamling!</div>
            </div>
            </a>
        </div>
        <div class="card text-center">
            <a href="https://elixir.konstforeningar.se/utstallningar/utstallning-november-2024/" aria-label="Exhibitions" target="_blank" rel="noopener">
            <img src="{% static 'img/utstallning.png' %}" class="card-img-top card-round mt-3" alt="Utställningar">
            <div class="card-body">
                <p class="card-title">Aktuellt</p>
                <p class="card-text">
                    <p>Utställning</p>
                    2024-11-09 - 2024-11-29</p>
                <p>Galleri Elixir, Gävle Sjukhus
                </p>
                </p>
            </div>
            </a>
        </div>
    </div>
</div>
</section>
<!-- Banner Part End-->


{% endblock %}
{% block carouseljs %}
<script type="text/javascript">
    $('.collapse').collapse()
</script>
{% endblock %}