{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Banner Part Start-->
<section class="py-2">
    <div class="container my-5">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-file-contract pr-1"></i> Köpinformation:</h5>
                        <p class="card-text">
                            Om du är intresserad av att köpa en tavla, gå in på det konstverk du vill köpa och klicka på
                            “Köpförfrågan”. Du får fylla i ett formulär med dina kontaktuppgifter och förfrågan sänds
                            till konstnären. Konstnären kontaktar dig med prisuppgift på konstverket.
                            Betalning för konstverket samt frakt sker via Swish eller PayPal och när betalningen är
                            genomförd skickas en orderbekräftelse till din mejladress.
                        </p>
                        <h5 class="card-title"><i class="fa-solid fa-truck pr-1"></i> Frakt och emballage:</h5>
                        <p>Det är konstnären som hanterar frakten av ditt köpta konstverk. Konstnären kommer att
                            kontakta dig med leveransalternativ samt pris för frakt och emballage som tillkommer utöver
                            priset för konstverket. Leveranskostnaden baseras på verkets storlek, vikt och
                            leveransadress. Om verket är stort och väger mycket blir kostnaden högre.
                        </p>
                        <h5 class="card-title"><i class="fa-regular fa-clock pr-1"></i> Leveranstid:</h5>
                        <p>
                            Leveranstiden varierar beroende på avstånd, fraktbolag och konstnärens arbetstid. Om
                            konstnären skickar verket kort efter genomfört köp kan du räkna med att det levereras till
                            dig inom 1-2 veckor. Du kommer få ett spårningsnummer av konstnären när verket är skickat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Part End-->


{% endblock %}
{% block carouseljs %}
<script type="text/javascript">
    $('.collapse').collapse()
</script>
{% endblock %}