{% load static %}

<!-- Footer part start -->
<footer class="footer">
    <div class="footer_iner">
        <div class="container">
            <div class="row justify-content-between">

                <div class="col-12 col-md-4 pl-3">
                    <div class="px-3">
                        <p class="text-uppercase font-weight-bold mt-3">Hannele Takala</p>
                        <p><a href="{% url 'about' %}">Om konstnären</a></p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="px-3">
                        <p class="text-uppercase font-weight-bold mt-3">Köpinformation</p>
                        <p><a href="{% url 'terms' %}" target="_blank"
                            aria-label="Terms and Conditions">Köpinformation</a></p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="px-3">
                        <p class="text-uppercase font-weight-bold mt-3">Kontakt:</p>
                        <p><a href="{% url 'contact' %}" aria-label="Kontakta mig" target="_blank"><i class="fa-regular fa-envelope fa-lg pr-2"></i>Kontaktformulär</p></a>
                        <p><a href="https://www.facebook.com/profile.php?id=61550271382944" aria-label="Visit me on Facebook"
                                target="_blank" rel="noopener"><i class="fab fa-facebook-f fa-lg pr-2"></i>Facebook</a>
                        </p>
                        <p><a href="https://artportable.com/profile/@hansu" aria-label="Visit me on Artportable" target="_blank" rel="noopener"><i class="fa-solid fa-palette pr-2"></i>ARTPORTABLE</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</footer>
<!-- Footer part end -->