{% load static %}

<!-- <header class="main_menu home_menu"> -->
    <div class="container">

        <nav class="navbar navbar-expand-lg fixed-top navbar-light navbar-offcanvas">
            
            <a class="navbar-brand mr-auto" href="{% url 'home' %}">
                <img src="{% static 'img/logo1.png' %}" class="logo-round" alt="Hansus Art">
            </a>
            <!-- <div> -->
            <button class="navbar-toggler d-block" type="button" id="navToggle">
                <span><i class="fa-solid fa-bars"></i></span>
            </button>
            <div class="navbar-collapse offcanvas-collapse">
                <ul class="navbar-nav right">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'products' %}">
                            Tavlor <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">
                            Om mig
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'terms' %}">
                            Köpinformation
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted" href="" data-toggle="dropdown" id="dropdown01"
                            aria-haspopup="true" aria-expanded="false">
                            Administration
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="{% url 'add_product' %}">Lägg till
                                tavla</a>
                            <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- </div> -->
        </nav>
    </div>
<!-- </header> -->

{% block navjs %}

<script>
    $(document).ready(function() {
 // executes when HTML-Document is loaded and DOM is ready
console.log("document is ready");
  
  
    $('[data-toggle="offcanvas"], #navToggle').on('click', function () {
    $('.offcanvas-collapse').toggleClass('open')
  })
  
  
// document ready  
});


window.onload = function() {
 // executes when complete page is fully loaded, including all frames, objects and images
console.log("window is loaded");
  
  
// window load  
};
</script>
{% endblock %}