{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Banner Part Start-->
<section class="py-2">
    <div class="container contactform p-4 my-4 mb-3">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Vänligen fyll i kontaktformuläret:</h5>
                        <div class="card-text">
                            <form action="{% url 'contact' %}" method="POST">
                            {% csrf_token %}
                            {{ form.name|as_crispy_field }}
                            {{ form.email|as_crispy_field }}
                            {{ form.topic|as_crispy_field }}
                            {{ form.message|as_crispy_field }}
                            <div id="char-count" class="text-right col-12 col-lg-6 order-lg-last mx-auto">
                                <span id="current">0</span>
                                <span id="maximum">/ 1000</span>
                            </div>
                            {{ form.captcha }}
                            <div class="float-right my-5">
                                <a class="btn_art" href="{% url 'home' %}">Avbryt</a>
                                <button id="submit-button" class="btn_art" aria-label="Contact us">Skicka</button>
                            </div>

                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<!-- Banner Part End-->


{% endblock %}
{% block postloadjs %}
<script>
$('textarea').keyup(function() {
    
    var characterCount = $(this).val().length,
        current = $('#current'),
        maximum = $('#maximum'),
        charCount = $('#char-count');
      
    current.text(characterCount);

    if (characterCount >= 901) {
        maximum.css('color', '#8f0001');
        current.css('color', '#8f0001');
        charCount.css('font-weight','bold');
    } else {
        maximum.css('color','#666');
        current.css('color', '#666');
        charCount.css('font-weight','normal');
    }
  
});
</script>
{% endblock %}