{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Breadcrumb part start-->
<!-- <section class="breadcrumb_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Breadcrumb part end-->
<!-- Product list part start-->


<!-- Highlight Carousel part start-->
<div class="container">
    <div class="row">
        <div class="owl-carousel owl-theme border-0">
            {% for product in products %}
            {% if product.highlight is True %}
            <div class="item">
                <div class="card">
                    <div class="card-body">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}" aria-label="Product Titel" data-toggle="tooltip" title="{{ product.title }}">
                            <img loading="lazy" src="{{ product.image.url }}"
                                alt="{{ product.title }} {{ product.description }}" class="card-img-top slider">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.webp" alt="{{ product.title }} {{ product.description }}"
                                class="img-fluid">
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <hr class="my-3 product-divider">
</div>

<!-- Highlight Carousel part end-->

<!-- All Products part start-->
<section class="product_list mb-3">
    <div class="container">
        <div class="row py-3">

            <a href="{% url 'products' %}?categories=natur" class="category-tag"><i class="fa-solid fa-tag"></i> Natur</a>
            <a href="{% url 'products' %}?categories=djur" class="category-tag"><i class="fa-solid fa-tag"></i> Djur</a>
            <a href="{% url 'products' %}?categories=landskap" class="category-tag"><i class="fa-solid fa-tag"></i> Landskap</a>
            <a href="{% url 'products' %}?categories=porträtt" class="category-tag"><i class="fa-solid fa-tag"></i> Porträtt</a>
            <a href="{% url 'products' %}?categories=abstrakt" class="category-tag"><i class="fa-solid fa-tag"></i> Abstrakt Konst</a>
            <a href="{% url 'products' %}?categories=impressionism" class="category-tag"><i class="fa-solid fa-tag"></i> Impressionism</a>
            <a href="{% url 'products' %}?categories=figurativt" class="category-tag"><i class="fa-solid fa-tag"></i> Figurativt</a>
            <a href="{% url 'products' %}?categories=fantasi" class="category-tag"><i class="fa-solid fa-tag"></i> Fantasi</a>
            <a href="{% url 'products' %}?categories=trycksaker" class="category-tag"><i class="fa-solid fa-tag"></i> Trycksaker</a>


        </div>
        <div class="row">
            <div class="col-12 col-md-6 order-md-first">
                <p class="text-muted mt-3 text-center text-md-left">
                    {% if search_term or current_categories or current_sorting != 'None_None' %}
                    <span class="small"><a href="{% url 'products' %}" aria-label="All Paintings"><strong>Visa alla tavlor </strong></a> |
                    </span>
                    {% endif %}
                    {{ products|length }} Tavlor{% if search_term %} hittat
                    <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for product in products %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card mb-2">
                        <div class="card-body">
                            {% if product.image %}
                            <img loading="lazy" src="{{ product.image.url }}" alt="{{ product.title }} {{ product.description }}"
                                class="card-img-top">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.webp" alt="{{ product.title }} {{ product.description }}"
                                class="card-img-top">
                            {% endif %}
                            <div class="card-body innerbody mt-3">
                            <h5 class="card-title"><a href="{% url 'product_detail' product.id %}" aria-label="Product Titel">
                                    {{ product.title }}</a></h5>

                            <ul class="list-group list-group-flush mb-3 no-padding">
                                <li class="list-group-item cat-tag-text">
                                    {% for category in product.categories.all %}
                                    <i class="fa-solid fa-tag"> </i> {{ category.friendly_name }}
                                    {% endfor %}</li>
                            </ul>
                            <div class="btn-group" role="button">
                            <a href="{% url 'product_detail' product.id %}" class="mt-3 btn_art">Visa detaljerna</a>
                            {% if request.user.is_superuser %}
                            <a href="{% url 'edit_product' product.id %}" class="btn_art">Editera</a>
                            {% endif %}
                            </div>
                            </div>
                        </div>
                    </div>
        
                </div>
                {% endfor %}
            </div>
        </div>


                </div>

        </div>
    </div>
    <div class="back-to-top" data-toggle="tooltip" data-original-title="Back to Top">
        <a class="btt-link h-100" aria-label="Back to Top" href="" onclick="javascript:scrollTo(0, 0)">
            <i class="fa-regular fa-circle-up"></i>
        </a>
    </div>
</section>
<!-- All products part end-->

{% endblock %}

{% block carousel %}
<script>
$(document).ready(function () {
  $('.owl-carousel').owlCarousel({
      loop:true,
      margin:20,
      nav:false,
      autoplay:true,
      autoplayHoverPause:true,
      autoplayTimeout:2500,
      responsive:{
          0:{
              items:1
          },
          600:{
              items:2
          },
          900:{
              items:3
          },
          1200:{
              items:4
          }
      }
  });
});
</script>
<script>
  jQuery(function($) { 
  jQuery('button.owl-dot.active').attr('aria-label','next'); 
  }); 
</script>
<script>
  jQuery(function($) { 
  jQuery('button.owl-dot').attr('aria-label','previous'); 
  }); 
</script>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({
            placement: 'top'
        });
    }); 
</script>
{% endblock %}